*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.grid {
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 1000px;
}



.dashboard h1 {
    text-align: center;
    color: gold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2.5em;
    -webkit-text-stroke-color: black;
    -webkit-text-stroke-width: 1px;
}


body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e2a38;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }